body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f1eff0;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Makes the body take up the full height of the viewport */
    text-align: center;
    flex-direction: column; /* Stacks elements vertically */
}

h1 {
    color: #C71585; /* Dark pink */
}

h2, h3, p {
    color: black; /* Ensures all other text is black */
}
